<div class="copy">
  <p>E: shaanhossain19@gmail.com</p>
</div>
<div class="soc-box">
  <div class="follow-label">LinkedIn and GitHub</div>
  <div class="soc">
    <a target="_blank" href="https://www.linkedin.com/in/shaan-hossain2000/">
      <span class="icon fab fa-linkedin"></span>
    </a>
    <a target="_blank" href="https://github.com/ShaanHossain">
      <span class="icon fab fa-github"></span>
    </a>
    <%# <a target="_blank" href="https://dribbble.com/">
      <span class="icon fab fa-dribbble"></span>
    </a> %>
  </div>
</div>
<div class="clear"></div>
