<div class="head-top">

  <!-- menu button -->
  <a href="#" class="menu-btn"><span></span></a>

  <!-- logo -->
  <div class="logo hover-masks-logo">
    <a href="#">
      <span class="mask-lnk">Shaan <strong>Hossain</strong></span>
      <span class="mask-lnk mask-lnk-hover">Download <strong>Resume</strong></span>
    </a>
  </div>

  <!-- top menu -->
  <div class="top-menu hover-masks">
    <div class="top-menu-nav">
      <div class="menu-topmenu-container">
        <ul class="menu">
          <li class="menu-item">
            <%# Add menu-item-has-children for dropdown %>
            <%# Add current-menu-item to make item white on page %>
            <a href="index.ejs">Home</a>
            <!-- <ul class="sub-menu">
              <li class="menu-item current-menu-item"><a href="index.ejs">Home Default</a></li>
              <li class="menu-item"><a href="index_creative.ejs">Home Creative</a></li>
              <li class="menu-item"><a href="index_slider.ejs">Home Slider</a></li>
              <li class="menu-item"><a href="index_personal.ejs">Home Personal</a></li>
              <li class="menu-item"><a href="index_onepage.ejs" target="blank">Home OnePage</a></li>
              <li class="menu-item"><a href="index_image.ejs">Home Image</a></li>
              <li class="menu-item"><a href="index_video.ejs">Home Video</a></li>
            </ul> -->
          </li>
          <li class="menu-item">
             <a href="resume.ejs">Resume</a>
          </li>
          <!-- <li class="menu-item menu-item-has-children">
            <a href="myResume.ejs">Resume</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="resume.ejs">Resume Default</a></li>
              <li class="menu-item"><a href="resume_image.ejs">Resume Image</a></li>
              <li class="menu-item"><a href="resume_creative.ejs">Resume Creative</a></li>
            </ul>
          </li> -->
          <li class="menu-item">
            <a href="interests.ejs">Interests</a>
          </li>
          <li class="menu-item">
            <a href="projects.ejs">Live Projects</a>
            <!-- <ul class="sub-menu">
              <li class="menu-item"><a href="works.ejs">Works Default</a></li>
              <li class="menu-item"><a href="works_creative.ejs">Works Creative</a></li>
              <li class="menu-item"><a href="work_single.ejs">Work Single</a></li>
              <li class="menu-item"><a href="work_single_image.ejs">Work Single Image</a></li>
              <li class="menu-item"><a href="work_single_creative.ejs">Work Single Creative</a></li>
            </ul> -->
          </li>
          <%# <li class="menu-item">
            <a href="contacts.ejs">About</a>
            <!-- <ul class="sub-menu">
              <li class="menu-item"><a href="contacts.ejs">Contact Default</a></li>
              <li class="menu-item"><a href="contacts_map.ejs">Contact Map</a></li>
              <li class="menu-item"><a href="contacts_image.ejs">Contact Image</a></li>
              <li class="menu-item"><a href="contacts_creative.ejs">Contact Creative</a></li>
            </ul> -->
          </li> %>
        </ul>
      </div>
    </div>
  </div>

</div>
